.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $darkDesaturatedBlue;
  max-width: 70rem;
  border-radius: 0.625rem;
  overflow: hidden;
  
  @include breakpoint-down(medium) {
    width: 70%;
  }

  @include breakpoint-down(small) {
    margin: 20% auto;
    width: 90%;
  }
  
  @include breakpoint-up(large) {
    flex-direction: row;
  }

  &__header {
    position: relative;
    @include breakpoint-up(large) {
      flex: 1;
      order: 2;
    }
    img {
      width: 100%;
      vertical-align: middle;
    }

    &--overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: hsla(277, 64%, 61%, 0.5);
    }
  }

  &-content {
    @include breakpoint-up(large) {
      flex: 1;
      order: 1;
    }
  }

  &__body {
    text-align: center;

    @include breakpoint-up(medium) {
      max-width: 390px;
    }

    @include breakpoint-up(large) {
      text-align: left;
    }
  }

  &__title {
    font-size: 1.8125rem;
    color: $white;
    .highlight {
      color: $softViolet;
    }

    @include breakpoint-up(medium) {
      font-size: 37px;
    }
  }

  &__text {
    padding: 1.25rem 0;
    line-height: 1.5;
    color: $slightlyTransparentPrimary;
  }

  &__footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    @include breakpoint-up(large) {
      flex-direction: row;
      justify-content: flex-start;
    }
    .stats {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 10px;
      line-height: 1.5;

      @include breakpoint-up(large) {
        text-align: left;

        &:not(:last-child) {
          padding-right: 60px;
        }
      }

      span {
        display: block;
      }

      &__qty {
        font-size: 1.375rem;
      }

      &__heading {
        text-transform: uppercase;
        font-family: 'Lexend Deca', sans-serif;
        font-size: 0.8125rem;
        color: $slightlyTransparentSecondary;
      }
    }
  }
}